include inc/mixins
include inc/variables

doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title #{pageTitle} - #{slogan}
    meta(name='description', content='#{slogan}')

    link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Fira+Sans')
    link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Inconsolata:400,700')
    link(rel='stylesheet', type='text/css', href='assets/css/libs.css')
    link(rel='stylesheet', type='text/css', href='//cdn.rawgit.com/mutable-tools/MutaGrid/master/demo/mutagrid/dist/12/mutagrid.min.css')
    link(rel='stylesheet', type='text/css', href='assets/css/huemul.css')

  body
    main.container

      .row
        .column-12.column-center.text-center
          h1 #{pageTitle}
          #title
            h2.typewrite #{slogan}
          hr
          .box-btn_inscribete
            button.btn(onclick="javascript:openModal();return false;") ¡Únete!

      .row
        .column-5
          .text-center
            include inc/ascii-slack.jade
        .column-4.column-push-2.gutter-top-xsmall
          .vertical-centered-text.vertical-middle
            p <b>devsChile</b> es más que un grupo de Slack; es una comunidad de diseñadores y desarrolladores web que se juntan a comentar, ayudar, sugerir y reclamar de su día-a-día. Canales como <b>#backend</b>, <b>#cultura</b>, <b>#frontend</b>, <b>#lifehacks</b>, <b>#pegas</b>, <b>#ux</b> y por supuesto <b>#random</b> son algunos de los que puedes ingresar, aportar y hasta procrastinar un rato mientras dure tu <i>Pomodoro</i>.
      hr
      .row
        .column-4.column-push-2.gutter-top-xsmall
          .vertical-centered-text.vertical-tall
            p <b>devsChile</b> hospeda a los organizadores del famoso evento mensual <b>BeerJS Santiago</b> y <b>BeerJS Valdivia</b>, y sus usuarios siempre son privilegiados con el primer anuncio oficial de una nueva edición y de poder inscribirse 1 dia antes que por otros medios (<a href="http://www.beerjs.cl/">BeerJS</a>).

        .column-5.column-push-2
          .text-center
            include inc/ascii-beerjs.jade
      
      hr
      .row
        .column-5
          .text-center
            include inc/ascii-huemul.jade
        .column-4.column-push-2.gutter-top-xsmall
          .vertical-centered-text.vertical-middle
            p Tenemos al mejor <i>Hubot</i> de todos los Slacks. <a href="https://github.com/devschile/huemul">Huemul</a> nos acompaña todos los días y su grupo de apoyo no se cansa de hacerle mejoras. Únete y conócelo, crea nuevas funcionalidades y apóyanos en su desarrollo en el canal <a href="http://devschile.slack.com/messages/huemul-devs">#huemul-devs</a>.
          
      hr
      .row.text-center
        .column-1
        .column-3
          h3
            span ¡Stickers!
          p 
            | Tenemos <a href="#" onclick="javascript:openModalSticker();return false;">stickers de nuestro bot <img src="https://emoji.slack-edge.com/T0R6F3YAX/huemul/8eea7517e45d75e6.png" width="18"></a> para que puedas lucirlos en tus dispositivos. Lleva 2 por US$6, envío postal incluído. 
          p <b>¡Nuevos!</b> Stickers <a href="#" onclick="javascript:openModalStickerNew();return false;">:guemul: :fake: :monea:</a>.
          form.box-donation(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
            input(type='hidden', name='cmd', value='_s-xclick')
            input(type='hidden', name='hosted_button_id', value='FHLDNWJM3XKGU')
            input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif', border='0', name='submit', alt='PayPal - The safer, easier way to pay online!')
            img(alt='', border='0', src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif', width='1', height='1')
        .column-1
        .column-3
          h3
            span ¡Donaciones!
          p 
            | Tu donación de US$10 irá en directa mantención de la cuenta Digital Ocean que mantiene a nuestro bot <img src="https://emoji.slack-edge.com/T0R6F3YAX/huemul/8eea7517e45d75e6.png" width="18">. Además te enviaremos 3 stickers y serás miembro golden <img src="https://emoji.slack-edge.com/T0R6F3YAX/monea/3eff7e75a7a5e8b4.png" title="gold"> por <b>2 meses</b>.
          form.box-donation(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
            input(type='hidden', name='cmd', value='_s-xclick')
            input(type='hidden', name='hosted_button_id', value='BAS3GCERCZLLU')
            input(type='image', src='https://www.paypalobjects.com/es_ES/ES/i/btn/btn_donateCC_LG.gif', border='0', name='submit', alt='PayPal. La forma rápida y segura de pagar en Internet.')
            img(alt='', border='0', src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif', width='1', height='1')
        .column-1
        .column-3
          h3
            span Impuesto Huemul
          p Cualquier transacción dentro de devsChile merece un pago voluntario por impuesto de timbres y estampillas al cuidado del bot <img src="https://emoji.slack-edge.com/T0R6F3YAX/huemul/8eea7517e45d75e6.png" width="18">
          form(action='https://www.paypal.com/cgi-bin/webscr', method='post')
            input(type='hidden', name='business', value='juanbrujo@gmail.com')
            input(type='hidden', name='cmd', value='_donations')
            input(type='hidden', name='item_name', value='devsChile')
            input(type='hidden', name='item_number', value='Impuesto Huemul')
            input(type='hidden', name='currency_code', value='USD')
            input(type='image', name='submit', src='https://www.paypalobjects.com/es_ES/ES/i/btn/btn_donateCC_LG.gif', alt='Pagar el impuesto')
            img(alt='', width='1', height='1', src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif')

       hr
      .row
        .column-12.column-center.text-center
          #subtitle
            h1.typewrite Testimonios:
        .column-12.column-center.text-center.gutter-top
          +testimony('@pinceleart', ' https://ca.slack-edge.com/T0R6F3YAX-U0R6DCC68-5d236d4f5651-512', 'si mira estoy cotizando columpios de aves para comprar al por mayor')
          +testimony('@gmq', 'https://ca.slack-edge.com/T0R6F3YAX-U0R6H0HQD-g494a30a9e8a-512', 'estás puro weando poh')
          +testimony('@jorgeepunan', 'https://ca.slack-edge.com/T0R6F3YAX-U0R6AKR0Q-ed04a99ccec0-512', 'mi vida es un desastre ni scrum ni kanban me la ordena')
          +testimony('@hector', 'https://ca.slack-edge.com/T0R6F3YAX-U0R6E17PC-gbbd25763739-512', 'Voy a tomar un avión, si se cae, déjenme el karma en cero, para entrar al cielo')
          +testimony('@alvaroveliz', 'https://i.imgur.com/6wYkTr4.png', 'melon y melame eran programadores. melon programaba en frontend. melame el backend')
          +testimony('@alvaroveliz', 'https://i.imgur.com/6wYkTr4.png', 'a un compañero le decian el huachipato porque era una mezcla de huachimingo y tenia care pato')
          +testimony('@keldor', 'https://i.imgur.com/VBbKhWi.png', 'la cosa es no convertirse en un luchosaurio, ahi si que es grave')
          +testimony('@livercake', 'https://i.imgur.com/PWKj2iO.png', 'me patió porque me demoraba mucho en llegar a su casa')
          +testimony('@ienc', 'https://i.imgur.com/Ux2LQGl.png', 'wn, aca hicieron un puto landing en reactjs')
          +testimony('@catuga', 'https://i.imgur.com/ipzlj75.png', 'uds están en ES6, yo estoy en IE6')
          +testimony('@alvaromeza', 'https://i.imgur.com/rystuZQ.png', 'todavía cacho gente que le dice lightbox a los modales')

    aside#unete.tinymodal-window
      iframe#heroku-unete(src='https://devschile-unete.herokuapp.com/', frameborder='0')
    aside#sticker.tinymodal-window.text-center
      img(src='https://i.imgur.com/KfAx4Mx.jpg', alt='Sticker Huemul', style='max-height: 100%')
    aside#sticker_new.tinymodal-window.text-center
      img(src='https://i.imgur.com/QKSQvzK.jpg', alt='Nuevos Stickers', style='max-height: 100%')


    script(src='assets/js/libs.js')
    script(src='assets/js/huemul.js')

    include inc/analytics.jade
